*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'poppins', sans-serif;
}

.container{
   min-height: 100vh;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   position: relative;
} 